{% extends "layout.html" %}

{% block content %}
    <h2>GAME INFO!</h2>

    {% if current_user.is_authenticated %}
        <p>GAME INFO</p>
    {% else %}
        <a href="{{ url_for('register') }}">Регистрация</a> | <a href="{{ url_for('login') }}">Вход</a>
    {% endif %}

    {% if game_settings %}
        <p>Game ID: {{ game_id }}</p>
        <a href="{{ url_for('game_play', game_id=game_id) }}"> Играть </a>
</br>

        <p>Game Settings:</p>
        {% for key, value in game_settings.items() %}
            <span style="display: block;">{{ key }}: <strong>{{ value }}</strong></span>
        {% endfor %}
</br>
        <p>Players:</p>
        {% for key, value in game_players.items() %}
            {% if key == game_maker %}
                <span style="display: block;">{{ key }}: <strong>--- {{ value.name }} ---</strong></span>
            {% else %}
                <span style="display: block;">{{ key }}: <strong>{{ value.name }}</strong></span>
            {% endif %}
            
        {% endfor %}
        
        <form action="{{ url_for('add_player_to_game', game_id=game_id) }}" method="post">
            <button type="submit">Добавить игрока в игру</button>
        </form>


    {% else %}
        <p>Данные об игре не получены</p>
    {% endif %}

{% endblock %}