{% extends "layout.html" %}

{% block content %}
    <h2>Добро пожаловать!</h2>
        {% if current_user.is_authenticated %}
            <p>ЛОББИ</p>
        {% else %}
            <a href="{{ url_for('register') }}">Регистрация</a> | <a href="{{ url_for('login') }}">Вход</a>
        {% endif %}

        <p>Games</p>
        <div style="max-width: 800px; margin: 0 auto;">
            <ul style="list-style-type: none;">
                {% for game_id, game_data in games %}
                    <li class="demo">
                        <a href="{{ url_for('game_info', game_id=game_id) }}">{{ game_id }}</a>  {{ game_data }}
                    </li>
                </br>
                {% endfor %}
            </ul>
        </div>
    
{% endblock %}
