<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="player-info">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('profile') }}">{{ current_user.username }}, ({{ g.stubUserRating }})</a>
            {% else %}
                <a href="{{ url_for('register') }}">Регистрация</a> | <a href="{{ url_for('login') }}">Вход</a>
            {% endif %}
        </div>
        <nav>
            <ul class="horizontal-menu">
                <li><a href="{{ url_for('index') }}">Лобби</a></li>
                <li><a href="{{ url_for('profile') }}">Профиль</a></li>
                <li><a href="{{ url_for('posts') }}">Посты</a></li>
                <li><a href="{{ url_for('add_post') }}">Добавить пост</a></li>
                <!-- <li><a href="{{ url_for('logout') }}">Выйти</a></li> -->
            </ul>
        </nav>
    </header>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
